<div class="todo-container">
  <h1>TODO LIST</h1>
  <div class="todo-list-container">

    <div class="todo-list">
      <div class="todo-item"
           *ngFor="let item of list"
           appTooltip>
        <input type="checkbox"
               [attr.id]="item.id"
               (change)="onChecked($event, item.id)"
               [checked]="selection.value[item.id]" />
        <label [attr.for]="item.id">{{getTitle(item)}}</label>
        <!-- <app-todo-list-item [item]="item"
                            [isChecked]="selection.value[item.id]"
                            (checked)="onChecked($event.event, $event.id)"></app-todo-list-item> -->
      </div>
    </div>

    <button (click)="add()">Add</button>

  </div>
</div>

<input class="new-todo"
       type="text"
       placeholder="Enter new action..."
       [(ngModel)]="todoActionName" />
