<div class="todo-container">
  <h1>TODO LIST</h1>
  <div class="todo-list-container">

    <div class="todo-list">
      <div class="todo-item"
           *ngFor="let item of list"
           appTooltip>
        <!--Todo-->
        <input type="checkbox"
               [attr.id]="item.id" />
        <!-- <input type="checkbox"
               [attr.id]="item.id"
               (change)="onChecked($event, item.id)"
               [checked]="selection.value[item.id]" /> -->
        <label [attr.for]="item.id">{{item.title}}</label>
      </div>
    </div>

    <button (click)="add()">Add</button>

  </div>
</div>

<input class="new-todo"
       type="text"
       placeholder="Enter new action..."
       [(ngModel)]="todoActionName" />
