<div class="todo-container">
  <h1>TODO LIST</h1>
  <div class="todo-list-container">

    <div class="todo-list">
      <div class="todo-item"
           *ngFor="let item of list" appTooltip>
        <input type="checkbox"
               [attr.id]="item.id" />
        <label [attr.for]="item.id">{{item.title | uppercase}}</label>
      </div>
    </div>

    <button (click)="add()">Add</button>

  </div>
</div>

<input class="new-todo" type="text" placeholder="Enter new action..." [(ngModel)]="todoActionName" />
<!-- <input class="new-todo" type="text" placeholder="Enter new action..." [ngModel]="todoActionName" (ngModelChange)="todoActionName = $event" /> -->
