:host{
  p{
    position: absolute;
    margin: 0;
    padding: 5px;
    top: 50px;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #fdef;
    color: #E1174B;
  }

  button{
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    height: 60px;
    background-color: #4c3666;
    color: white;
    outline: none;
    cursor: pointer;
  }
}
