:host{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    border-radius: 50%;
    background-color: #af7eeb;
    color: white;
    height: 60px;
    position: absolute;
    top: 90px;
    outline: none;
    cursor: pointer;
  }

  app-display-widget{
    position: fixed;
    top: 25px;
    right: 25px;
  }
}
