:host{

  height: 100%;
  display: flex;
  flex-direction: column;

  .navigation-container{
    flex: 0 0 50px;
  }

  .router-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
