<div class="dropdown-container" [class.disabled]="disabled$ | async">
  <div class="selection" (click)="toggle = !toggle; onTouched();">
    <span>{{selected.value?.text || 'Select Option' }}</span>
    <span class="icon" [class.open]="toggle"><img src="../../../assets/images/arrow-down.svg" /></span>
  </div>
  <div class="options" [class.open]="toggle">
      <app-search (searchChanged)="searchChanged($event)"></app-search>
      <app-list [list]="displayedOptions$ | async" (selectOption)="selectOption($event)" [selected]="selected.value"></app-list>
  </div>
</div>
