:host{
  div{
    p{
      cursor: pointer;
      padding: 5px;
      margin: 0;
      &.selected{
        border-left: 2px solid blue;
      }
      &:hover{
        background-color: lightgray;
      }
    }
    .no-data{
      position: absolute;
      top: 50%;
      left: calc(50% - 10px);
      color: rgba(0,0,0,0.6);
      font-size: 20px;
    }
  }
}
